.color-orange
{
    color: #ff6624;
}

.icons-size
{
    font-size: 30px;
}

.icons-color
{
    color:#005067;
}

.red-text
{
    color: #f44336;
}

.cyan-text
{
    color: #00bcd4;
}

.green-text
{
    color: #4caf50;
}

.teal-text
{

}

.teal-text
{
    color: #009688;
}

.deep-purple-text
{
    color: #673ab7;
}

.indigo-text
{
    color: #3f51b5;
}